{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div id="current-status" class="col-sm-6">
                    <h3>{{ '%0.1f' | format(current_target|float) }} &#176;F</h3>
                    <a href="./schedule">
                        <div class="thumbnail">
                            {% if status %}
                                {% for s, d in status.iteritems() %}
                                    <div class="status">
                                        Last action:
                                        {% if d.status %}
                                            On
                                        {% else %}
                                            Off
                                        {% endif %}
                                        @ {{ d.time.strftime('%I:%M %p') }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div id="next-temp">
                                Next: {{ '%0.2f' | format(next_target|float) }} &#176;F
                                @ {{ next_target_start_time|lower }}
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2"></div>

                <div id="current-temp" class="col-sm-4">
                    <h1 style="font-size: 64px;">
                        {{ '%0.1f' | format(current_temp|float) }} &#176;F
                    </h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="set-override" class="form-group">
                <h3>Set Static Temperature</h3>
                <form method="post" action="./override">

                    <label for="target">Temperature:</label>
                    <input type="text" name="target" id="target"/>

                    <label for="expiration">Hours in effect:</label>
                    <input type="text" name="hours" id="expiration"/>

                    {% if controltoken != '' %}
                        <input type="hidden" name="controltoken" value="{{ controltoken }}"/>
                    {% endif %}

                    <input type="submit" name="submit">

                </form>
            </div>
        </div>

        <div class="row">
            <a href="./schedule"><h2>View Schedules</h2></a>
        </div>

    </div>
{% endblock %}
